
.hackbeers{
    font-family: 'Slabo 27px', serif;
    text-align: center;
    color: #fff;
    font-size: 50px;
    buttom: 10%;
}

.quote {
    position: absolute;
    font-family: 'Indie Flower', cursive;
    bottom: 5%;
    width: 100%;
    text-align: center;
    color: #fff;
}

.programmer {
    font-size: 5px;
    /* Control the size of your element */
    
    position: absolute;
    left: 50%;
    top: 50%;
    width: 22em;
    height: 15em;
    margin: -7.5em 0 0 -11em;
}

.programmer::before,
.programmer::after {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    margin: -1em 0 0 -1em;
}

.programmer::before {
    /*This is the animated area of the element*/
    
    animation: animate 3000ms steps(1) infinite; 
}

@keyframes animate {
    0%, 100% {
        box-shadow: 8em 5em #f39c12, 8em 4em #f39c12, 6em 4em #f39c12, 6em 5em #FEBE10, 4em 4em #FEBE10, 4em 5em #f39c12, 4em 8em #FEBE10, 4em 9em #FEBE10, 4em 10em #FEBE10, 4em 11em #FEBE10, 4em 12em #FEBE10, 4em 13em #FEBE10, 5em 13em #FEBE10, 6em 13em #FEBE10, 7em 13em #FEBE10, 5em 9em #FEBE10, 5em 10em #FEBE10, 5em 11em #FEBE10, 5em 12em #FEBE10, 6em 12em #FEBE10, 6em 11em #FEBE10, 5em 8em #FEBE10, 6em 8em #FEBE10, 7em 8em #FEBE10, 8em 8em #FEBE10, 8em 9em #FEBE10, 7em 9em #FEBE10, 6em 9em #FEBE10, 6em 10em #FEBE10, 7em 10em #FEBE10, 8em 10em #FEBE10, 8em 11em #FEBE10, 7em 11em #FEBE10, 7em 12em #FEBE10, 8em 12em #FEBE10, 8em 13em #FEBE10, 8em 14em #FEBE10, 7em 14em #FEBE10, 6em 14em #FEBE10, 5em 14em #FEBE10, 4em 14em #FEBE10
    }
    10% {
        box-shadow: 8em 5em #FEBE10, 8em 4em #f39c12, 6em 4em #FEBE10, 6em 5em #f39c12, 4em 4em #FEBE10, 4em 5em #f39c12, 4em 9em #FEBE10, 4em 10em #FEBE10, 4em 11em #FEBE10, 4em 12em #FEBE10, 4em 13em #FEBE10, 5em 13em #FEBE10, 6em 13em #FEBE10, 7em 13em #FEBE10, 5em 9em #FEBE10, 5em 10em #FEBE10, 5em 11em #FEBE10, 5em 12em #FEBE10, 6em 12em #FEBE10, 6em 11em #FEBE10, 8em 9em #FEBE10, 7em 9em #FEBE10, 6em 9em #FEBE10, 6em 10em #FEBE10, 7em 10em #FEBE10, 8em 10em #FEBE10, 8em 11em #FEBE10, 7em 11em #FEBE10, 7em 12em #FEBE10, 8em 12em #FEBE10, 8em 13em #FEBE10, 8em 14em #FEBE10, 7em 14em #FEBE10, 6em 14em #FEBE10, 5em 14em #FEBE10, 4em 14em #FEBE10, 15em 11em #570e57, 16em 11em #570e57, 18em 11em #570e57, 19em 11em #570e57, 20em 11em #570e57, 17em 11em #570e57, 14em 11em #570e57, 13em 11em #570e57
    }
    20% {
        box-shadow: 8em 5em #f39c12, 6em 4em #f39c12, 6em 5em #f39c12, 4em 5em #f39c12, 4em 10em #FEBE10, 4em 11em #FEBE10, 4em 12em #FEBE10, 4em 13em #FEBE10, 5em 13em #FEBE10, 6em 13em #FEBE10, 7em 13em #FEBE10, 5em 10em #FEBE10, 5em 11em #FEBE10, 5em 12em #FEBE10, 6em 12em #FEBE10, 6em 11em #FEBE10, 6em 10em #FEBE10, 7em 10em #FEBE10, 8em 10em #FEBE10, 8em 11em #FEBE10, 7em 11em #FEBE10, 7em 12em #FEBE10, 8em 12em #FEBE10, 8em 13em #FEBE10, 8em 14em #FEBE10, 7em 14em #FEBE10, 6em 14em #FEBE10, 5em 14em #FEBE10, 4em 14em #FEBE10, 14em 9em #570e57, 15em 9em #570e57, 16em 9em #570e57, 17em 9em #570e57, 18em 9em #570e57, 19em 9em #570e57, 20em 9em #570e57, 15em 11em #4e4e9c, 16em 11em #4e4e9c, 17em 11em #4e4e9c, 18em 11em #4e4e9c, 19em 11em #4e4e9c, 20em 11em #4e4e9c, 13em 9em #570e57
    }
    30% {
        box-shadow:  4em 11em #FEBE10, 4em 12em #FEBE10, 4em 13em #FEBE10, 5em 13em #FEBE10, 6em 13em #FEBE10, 7em 13em #FEBE10, 5em 11em #FEBE10, 5em 12em #FEBE10, 6em 12em #FEBE10, 6em 11em #FEBE10, 8em 11em #FEBE10, 7em 11em #FEBE10, 7em 12em #FEBE10, 8em 12em #FEBE10, 8em 13em #FEBE10, 8em 14em #FEBE10, 7em 14em #FEBE10, 6em 14em #FEBE10, 5em 14em #FEBE10, 4em 14em #FEBE10, 15em 9em #4e4e9c, 16em 9em #4e4e9c, 17em 9em #4e4e9c, 18em 9em #4e4e9c, 19em 9em #4e4e9c, 20em 9em #4e4e9c, 20em 7em #570e57, 19em 7em #570e57, 18em 7em #570e57, 17em 7em #570e57, 16em 7em #570e57, 15em 7em #570e57, 14em 7em #570e57, 14em 11em #225c24, 15em 11em #225c24, 16em 11em #225c24, 17em 11em #225c24, 18em 11em #225c24, 19em 11em #225c24, 20em 11em #225c24, 13em 11em #225c24, 12em 11em #225c24, 13em 7em #570e57, 6em 3em #070307
    }
    40% {
        box-shadow: 4em 12em #FEBE10, 4em 13em #FEBE10, 5em 13em #FEBE10, 6em 13em #FEBE10, 7em 13em #FEBE10, 5em 12em #FEBE10, 6em 12em #FEBE10, 7em 12em #FEBE10, 8em 12em #FEBE10, 8em 13em #FEBE10, 8em 14em #FEBE10, 7em 14em #FEBE10, 6em 14em #FEBE10, 5em 14em #FEBE10, 4em 14em #FEBE10, 13em 5em #570e57, 14em 5em #570e57, 15em 5em #570e57, 16em 5em #570e57, 17em 5em #570e57, 18em 5em #570e57, 19em 5em #570e57, 20em 5em #570e57, 20em 7em #4e4e9c, 19em 7em #4e4e9c, 18em 7em #4e4e9c, 17em 7em #4e4e9c, 16em 7em #4e4e9c, 15em 7em #4e4e9c, 20em 9em #225c24, 19em 9em #225c24, 18em 9em #225c24, 17em 9em #225c24, 16em 9em #225c24, 15em 9em #225c24, 14em 9em #225c24, 13em 9em #225c24, 12em 9em #225c24, 20em 11em #000000, 18em 11em #000000, 16em 11em #000000, 14em 11em #000000, 12em 11em #000000, 6em 3em #070307, 6em 4em #070307, 6em 5em #070307
    }
    50% {
        box-shadow: 4em 13em #FEBE10, 5em 13em #FEBE10, 6em 13em #FEBE10, 7em 13em #FEBE10, 8em 13em #FEBE10, 8em 14em #FEBE10, 7em 14em #FEBE10, 6em 14em #FEBE10, 5em 14em #FEBE10, 4em 14em #FEBE10, 13em 5em #570e57, 14em 5em #570e57, 15em 5em #570e57, 16em 5em #570e57, 17em 5em #570e57, 18em 5em #570e57, 19em 5em #570e57, 20em 5em #570e57, 20em 7em #4e4e9c, 19em 7em #4e4e9c, 18em 7em #4e4e9c, 17em 7em #4e4e9c, 16em 7em #4e4e9c, 15em 7em #4e4e9c, 20em 9em #225c24, 19em 9em #225c24, 18em 9em #225c24, 17em 9em #225c24, 16em 9em #225c24, 15em 9em #225c24, 14em 9em #225c24, 13em 9em #225c24, 12em 9em #225c24, 11em 11em #000000, 13em 11em #000000, 15em 11em #000000, 17em 11em #000000, 19em 11em #000000, 6em 3em #070307, 6em 4em #070307, 6em 5em #070307
    }
    60% {
        box-shadow: 8em 14em #FEBE10, 7em 14em #FEBE10, 6em 14em #FEBE10, 5em 14em #FEBE10, 4em 14em #FEBE10, 13em 5em #570e57, 14em 5em #570e57, 15em 5em #570e57, 16em 5em #570e57, 17em 5em #570e57, 18em 5em #570e57, 19em 5em #570e57, 20em 5em #570e57, 20em 7em #4e4e9c, 19em 7em #4e4e9c, 18em 7em #4e4e9c, 17em 7em #4e4e9c, 16em 7em #4e4e9c, 15em 7em #4e4e9c, 20em 9em #225c24, 19em 9em #225c24, 18em 9em #225c24, 17em 9em #225c24, 16em 9em #225c24, 15em 9em #225c24, 14em 9em #225c24, 13em 9em #225c24, 12em 9em #225c24, 12em 11em #000000, 14em 11em #000000, 16em 11em #000000, 18em 11em #000000, 20em 11em #000000, 6em 3em #070307, 6em 4em #070307, 6em 5em #070307
    }
    70% {
        box-shadow: 15em 11em #225c24, 14em 10em #225c24, 13em 9em #225c24, 12em 8em #225c24, 16em 10em #225c24, 17em 9em #225c24, 18em 8em #225c24, 19em 7em #225c24, 20em 6em #225c24, 19em 6em #225c24, 20em 5em #225c24, 18em 7em #225c24, 17em 8em #225c24, 16em 9em #225c24, 15em 10em #225c24, 14em 9em #225c24, 13em 8em #225c24, 6em 3em #070307, 6em 4em #070307, 6em 5em #070307
    }
    80% {
        box-shadow: 6em 3em #070307, 6em 4em #070307, 6em 5em #070307
    }
    90% {
        box-shadow: 15em 11em #225c24, 14em 10em #225c24, 13em 9em #225c24, 12em 8em #225c24, 16em 10em #225c24, 17em 9em #225c24, 18em 8em #225c24, 19em 7em #225c24, 20em 6em #225c24, 19em 6em #225c24, 20em 5em #225c24, 18em 7em #225c24, 17em 8em #225c24, 16em 9em #225c24, 15em 10em #225c24, 14em 9em #225c24, 13em 8em #225c24, 6em 3em #070307, 6em 4em #070307, 6em 5em #070307
    }
}

.programmer::after {
    /*This is the static area of the element*/
    
    box-shadow: 3em 7em #000000, 3em 8em #070307, 3em 10em #070307, 3em 11em #070307, 3em 12em #070307, 6em 1em #070307, 7em 1em #070307, 8em 1em #070307, 9em 1em #070307, 10em 1em #070307, 1em 9em #070307, 1em 10em #070307, 1em 11em #070307, 1em 12em #070307, 9em 14em #070307, 3em 14em #000000, 11em 1em #070307, 12em 1em #070307, 13em 1em #070307, 14em 1em #070307, 15em 1em #070307, 16em 1em #070307, 17em 1em #070307, 18em 1em #070307, 19em 1em #070307, 20em 1em #070307, 21em 1em #070307, 22em 1em #070307, 22em 2em #070307, 22em 3em #070307, 22em 4em #070307, 22em 5em #070307, 22em 6em #070307, 22em 7em #070307, 22em 8em #070307, 22em 9em #070307, 22em 10em #070307, 22em 11em #070307, 22em 12em #000000, 6em 2em #070307, 18em 3em #070307, 19em 3em #070307, 20em 3em #070307, 14em 3em #070307, 1em 13em #070307, 2em 13em #070307, 3em 15em #070307, 4em 15em #070307, 5em 15em #070307, 6em 15em #070307, 7em 15em #070307, 8em 15em #070307, 9em 15em #070307, 11em 13em #000000, 9em 13em #000000, 9em 12em #000000, 9em 11em #000000, 9em 10em #000000, 9em 9em #000000, 9em 8em #000000, 9em 7em #000000, 8em 7em #000000, 7em 7em #000000, 6em 7em #000000, 5em 7em #000000, 4em 7em #000000, 2em 9em #000000, 3em 9em #000000, 3em 13em #000000, 22em 13em #000000, 21em 13em #000000, 20em 13em #000000, 19em 13em #000000, 18em 13em #000000, 17em 13em #000000, 16em 13em #000000, 15em 13em #000000, 14em 13em #000000, 13em 13em #000000, 12em 13em #000000, 15em 3em #000000, 16em 3em #000000;
}




/*
 *  __                  __
 * /\ \                /\ \
 * \ \ \___   __  __   \_\ \     __
 *  \ \  _ `\/\ \/\ \  /'_` \  /'__`\
 *   \ \ \ \ \ \ \_\ \/\ \_\ \/\  __/
 *    \ \_\ \_\/`____ \ \___,_\ \____\
 *     \/_/\/_/`/___/> \/__,_ /\/____/
 *                /\___/
 *                \/__/
 *
 * Designed, built, and released under MIT license by @mdo. Learn more at
 * https://github.com/poole/hyde.
 */


/*
 * Contents
 *
 * Global resets
 * Sidebar
 * Container
 * Reverse layout
 * Themes
 */


/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
@media (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58rem) {
  html {
    font-size: 20px;
  }
}


/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
}
@media (min-width: 48rem) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

/* Sidebar links */
.sidebar a {
  color: #fff;
}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Abril Fatface", serif;
  font-size: 3.25rem;
}

/* Sidebar nav */
.sidebar-nav {
  padding-left: 0;
  list-style: none;
}
.sidebar-nav-item {
  display: block;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48rem) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}


/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

@media (min-width: 48rem) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64rem) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}


/*
 * Reverse layout
 *
 * Flip the orientation of the page by placing the `.sidebar` on the right.
 */

@media (min-width: 48rem) {
  .layout-reverse .sidebar {
    left: auto;
    right: 0;
  }
  .layout-reverse .content {
    margin-left: 2rem;
    margin-right: 20rem;
  }
}

@media (min-width: 64rem) {
  .layout-reverse .content {
    margin-left: 4rem;
    margin-right: 22rem;
  }
}



/*
 * Themes
 *
 * As of v1.1, Hyde includes optional themes to color the sidebar and links
 * within blog posts. To use, add the class of your choosing to the `body`.
 */

/* Base16 (http://chriskempson.github.io/base16/#default) */

/* Red */
.theme-base-08 .sidebar {
  background-color: #ac4142;
}
.theme-base-08 .content a,
.theme-base-08 .related-posts li a:hover {
  color: #ac4142;
}

/* Orange */
.theme-base-09 .sidebar {
  background-color: #d28445;
}
.theme-base-09 .content a,
.theme-base-09 .related-posts li a:hover {
  color: #d28445;
}

/* Yellow */
.theme-base-0a .sidebar {
  background-color: #f4bf75;
}
.theme-base-0a .content a,
.theme-base-0a .related-posts li a:hover {
  color: #f4bf75;
}

/* Green */
.theme-base-0b .sidebar {
  background-color: #90a959;
}
.theme-base-0b .content a,
.theme-base-0b .related-posts li a:hover {
  color: #90a959;
}

/* Cyan */
.theme-base-0c .sidebar {
  background-color: #75b5aa;
}
.theme-base-0c .content a,
.theme-base-0c .related-posts li a:hover {
  color: #75b5aa;
}

/* Blue */
.theme-base-0d .sidebar {
  background-color: #6a9fb5;
}
.theme-base-0d .content a,
.theme-base-0d .related-posts li a:hover {
  color: #6a9fb5;
}

/* Magenta */
.theme-base-0e .sidebar {
  background-color: #aa759f;
}
.theme-base-0e .content a,
.theme-base-0e .related-posts li a:hover {
  color: #aa759f;
}

/* Brown */
.theme-base-0f .sidebar {
  background-color: #8f5536;
}
.theme-base-0f .content a,
.theme-base-0f .related-posts li a:hover {
  color: #8f5536;
}
